.redactor-styles {
    fn-marker,
    .fn-marker {
        position: relative;
        top: -0.5em;
        font-size: 0.8em;
        padding-right: 0.4em;
        padding-left: 0.4em;
        background: #eee;
    }
}

.re-svg-icon {
    width: 14px;
    height: 14px;
    vertical-align: top;
    padding-bottom: 0.1em;
}

.redactor.readable .re-svg-icon {
    width: 16px;
    height: 16px;
}

.redactor-toolbar a .re-svg-icon {
    fill: currentColor;
}
