.redactor-styles {
    fn-marker,
    .fn-marker {
        position: relative;
        top: -0.5em;
        font-size: 0.8em;
        padding-right: 0.4em;
        padding-left: 0.4em;
        background: #eee;
    }
}
