.redactor-styles {
    fn-marker,
    .fn-marker {
        position: relative;
        top: -0.5em;
        font-size: 0.8em;
        padding-right: 0.4em;
        padding-left: 0.4em;
        background: #eee;
    }
}

.re-svg-icon {
    width: 16px;
    height: 15px;
    padding-bottom: 2px;
    vertical-align: bottom;
}

.redactor-toolbar a .re-svg-icon {
    fill: rgba(0, 0, 0, 0.85);
}
